// _variables.scss
$primary-font: "Roboto", sans-serif;
$primary-color: black;
$background-color: rgb(224, 231, 252);;
$navbar-background: rgba(154, 189, 248, 0.822);
$footer-background: rgba(154, 189, 248, 0.822);
$footer-text-color: black;
$contact-form-background-color: rgba(154, 189, 248, 0.822);
$contact-form-text-color: black;
